body

{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(30, 30, 30);
    color: darkorange;
}

 #speed-container {
                position: fixed;
                right: 2em;
                bottom: 0;
            }
            h1, h2, #start {
                color: darkorange;
            }
            table {
                background-color: rgb(30, 30, 30);
                margin-bottom: 2em;
            }